#sidebar {
    display: block;
    float: left;
    width: 250px;
    padding: 0em 1em 0em .5em;
    margin-right: 2em;
}

#map {
    display: block
    float: right;
    height: 96vh;
}

body {
    font-family: sans-serif;
}

.red { color: #f00; }

.subtitle { font-style: italic; }

.label {
    font-variant: small-caps;
    font-weight: bold;
    font-size: small;
}
